body {
	margin: 0;
	padding: 0;

	font-family: "Playfair Display", "Georgia", serif;
	font-size: 16px;
	line-height: 24px;
	color: #28211f;

	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin: -1px;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
}

a {
	text-decoration: none;
}

h2 {
	font-size: 32px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	text-align: center;
}

div,
ul {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

section {
	padding: 0;
	margin: 0;
}

.button {
	padding-bottom: 12px;

	font-family: "Lato", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	border: 2px solid #000000;
}

.button:hover {
	color: #f8d14a;
	border-color: #f8d14a;
}

.button:active {
	color: #f4ca38;
	border-color: #f4ca38;
}

.main-wrapper {
	max-width: 1271px;
	margin: 0 auto;
	margin-top: 16px;
}

.main-header {
	padding: 0;
	margin: 0;
	margin-bottom: 97px;

	background-color: #a6a6a6;
	background-image: url("../img/coffee-shop.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

/* --- main-navigation --- */

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	margin-bottom: 206px;

	background-color: rgba(0, 0, 0, 0.35);
}

.main-logo-wrapper {
	height: 95px;
	overflow: visible;
	margin-top: 5px;
	margin-right: 10px;
}

.main-navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	width: 553px;
}

.main-navigation-right {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	width: 494px;
}

.main-navigation-left li {
	padding-right: 7px;
	padding-left: 11px;
}

.main-navigation-right li {
	padding-right: 19px;
}

.nav-link {
	font-family: "Playfair Display", "Georgia", serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	color: #ffffff;
}

.nav-link:hover,
.current-page {
	color: #f5d76e;
}

.current-page {
	font-weight: 900;
}

.nav-link:active {
	color: #f4ca38;
}

.nav-link:hover:not(.current-page) {
	text-decoration: underline;
}

/* --- main-navigation-end --- */
/* --- welcome-header --- */

.welcome-header {
	width: 450px;
	padding-left: 164px;

	color: #ffffff;
}

.welcome-header-title {
	margin-bottom: 25px;

	font-size: 48px;
	font-weight: 700;
	line-height: 28px;
	text-transform: none;
	color: #f5d76e;
}

.welcome-header-text {
	padding-left: 5px;
	margin-bottom: 37px;

	font-family: "Lato", "Arial", sans-serif;
	font-weight: 500;
}

.welcome-header-button {
	display: inline-block;
	width: 181px;
	padding-top: 15px;
	margin-bottom: 204px;
	margin-left: 5px;

	color: #ffffff;
	border: 2px solid #ffffff;
}

/* --- welcome-header-end --- */
/* --- feature/menu/testimonials sections --- */

.feature-section,
.menu-section,
.testimonials-section {
	position: relative;
}

.feature-section:after,
.menu-section:after,
.testimonials-section:after {
	content: "";
	position: absolute;
	width: 39px;
	height: 39px;
	left: 617px;
	bottom: 52px;
	background-image: url("../img/coffee-small.svg");
	background-repeat: no-repeat;
}

/* --- feature section --- */

.feature-section {
	padding-bottom: 167px;
}

.feature-section-title {
	padding-left: 22px;
	margin-bottom: 34px;

	text-transform: none;
	letter-spacing: 0.025em;
	color: #2f2f2f;
}

.feature-section-title span {
	font-weight: 900;
}

.feature-section-title span:after {
	content: "";
	position: absolute;
	top: 30px;
	left: 732px;
	width: 121px;
	height: 2px;
	background-color: #000000;
}

.feature-section-text {
	width: 760px;
	padding-left: 5px;
	padding-right: 10px;
	margin: 0 auto;

	font-family: "Lato", "Arial", sans-serif;
	text-align: center;
}

/* --- feature section end --- */
/* --- menu section --- */

.menu-section {
	width: 100%;
	padding-bottom: 163px;
}

.menu-section-title {
	margin-bottom: 60px;

	text-transform: uppercase;
	color: #2f2f2f;
}

.menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.menu-item {
	width: 395px;
}

.menu-navigation {
	display: block;
	padding-top: 135px;
	padding-bottom: 135px;
	margin: 0;
	margin-bottom: 34px;

	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

.menu-item-coffee-title .menu-navigation {
	background-image:
		url("../img/grey_bg.png"),
		url("../img/cup-of-coffee.png");
	background-repeat: no-repeat;
	background-color: #ececec;
}

.menu-item-tea-title .menu-navigation {
	background-image:
		url("../img/grey_bg.png"),
		url("../img/cup-of-tea.png");
	background-repeat: no-repeat;
	background-color: #ececec;
}

.menu-item-desserts-title .menu-navigation {
	background-image:
		url("../img/grey_bg.png"),
		url("../img/dessert.png");
	background-repeat: no-repeat;
	background-color: #ececec;
}

.menu-item-coffee-title .menu-navigation:hover {
	background-image:
		url("../img/yellow_bg.png"),
		url("../img/cup-of-coffee.png");
}

.menu-item-tea-title .menu-navigation:hover {
	background-image:
		url("../img/yellow_bg.png"),
		url("../img/cup-of-tea.png");
}

.menu-item-desserts-title .menu-navigation:hover {
	background-image:
		url("../img/yellow_bg.png"),
		url("../img/dessert.png");
}

.menu-item-coffee-title .menu-navigation:active,
.menu-item-tea-title .menu-navigation:active,
.menu-item-desserts-title .menu-navigation:active {
	outline: 2px solid #f8d14a;
}

.menu-price {
	margin: 0 auto;
	margin-bottom: 50px;

	font-family: "Lato", "Arial", sans-serif;
}

.menu-position-name {
	width: 188px;
	padding-left: 9px;

	font-weight: 800;
}

.menu-position-price {
	padding-right: 15px;
}

.menu-button {
	display: block;
	width: 228px;
	padding-top: 14px;
	margin: 0 auto;

	color: #000000;
	letter-spacing: 0.025em;
	border: 2px solid #000000;
}

/* --- menu section end --- */
/* --- testimonials section --- */

.testimonials-section {
	padding-bottom: 173px;
}

.testimonials-section-title {
	margin-bottom: 62px;
	color: #2f2f2f;
}

/* --- visitor block with photo&testimonial --- */

.visitor-list-wrapper {
	width: 458px;
	margin-left: 813px;

	overflow: hidden;
}

.testimonials-visitor-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-transition: -webkit-transform 0.9s ease;
	transition: -webkit-transform 0.9s ease;
	transition: transform 0.9s ease;
	transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}

.testimonials-visitor-item {
	position: relative;
	width: 458px;
}

.testimonials-visitor-item:before {
	position: absolute;
	top: 33px;
	left: 25px;
	font-size: 90px;

	font-weight: bold;
	line-height: 21px;
	color: #433c3b;
}

.visitor-01:before {
	content: ".01";
}

.visitor-02:before {
	content: ".02";
}

.visitor-03:before {
	content: ".03";
}

.visitor-photo {
	width: 459px;
	margin: 0;
	margin-left: auto;
}

.visitor-photo img {
	display: block;
	padding-top: 96px;
	margin: 0 auto;
	margin-bottom: 13px;
}

.visitor-photo figcaption {
	padding-bottom: 10px;

	font-size: 20px;
	font-weight: bold;
	color: #f5d76e;
	text-align: center;
}

.visitor-text {
	width: 259px;
	padding-right: 100px;
	padding-bottom: 50px;
	padding-left: 100px;
	margin: 0;
	margin-left: auto;

	font-family: "Lato", "Arial", sans-serif;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
}

/* --- end of visitor block --- */
/* --- testimonial slider --- */
.testimonials-slider {
	position: relative;
	width: 100%;
	padding-bottom: 62px;

	background-color: #39312f;
	background-image: url("../img/coffe-bg.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.testimonials-slider:after {
	position: absolute;
	content: "\201D";
	right: 23px;
	bottom: 5px;
	font-size: 210px;

	font-weight: bold;
	line-height: 21px;
	color: #433c3b;
}

.slider-controls {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 50px;
	right: 205px;
	bottom: 52px;
	left: auto;
}

.toggle-control {
	width: 9px;
	height: 9px;

	background-color: #ffffff;
	border-radius: 50%;

	cursor: pointer;
}

.toggle-1:checked ~ .slider-controls .toggle-one-control,
.toggle-2:checked ~ .slider-controls .toggle-two-control,
.toggle-3:checked ~ .slider-controls .toggle-three-control {
	background-color: #39312f;
	border: 1px solid #ffffff;
	cursor: default;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.toggle-1:checked ~ .visitor-list-wrapper .testimonials-visitor-list {
	-webkit-transform: translate(0);
	transform: translate(0);
}

.toggle-2:checked ~ .visitor-list-wrapper .testimonials-visitor-list {
	-webkit-transform: translate(-458px);
	transform: translate(-458px);
}

.toggle-3:checked ~ .visitor-list-wrapper .testimonials-visitor-list {
	-webkit-transform: translate(-916px);
	transform: translate(-916px);
}

/* --- testimonial slider end --- */
/* --- testimonials section end --- */
/* --- feature/menu/testimonials section end --- */

/* --- location section --- */

.location-section {
	width: 100%;
	margin-bottom: 15px;
}

.location-section-title {
	margin-bottom: 63px;
	color: #2f2f2f;
}

.visit-info-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 100%;
	background-color: #f5d76e;
}

.visit-info-list {
	width: 370px;
	padding-top: 53px;
	padding-left: 49px;
}

.visit-info-title {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 20px;
	text-transform: uppercase;
}

.visit-info-text {
	margin-bottom: 28px;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 600;
}

.visit-hours-table,
.happy-hours-table {
	width: 178px;
	margin-bottom: 28px;

	font-family: "Lato", "Arial", sans-serif;
	font-weight: 700;
	line-height: 28px;
}

.visit-days,
.visit-time {
	padding-top: 2px;
}

.visit-time {
	text-align: right;
	font-weight: 400;
}

.main-map {
	-ms-flex-item-align: center;
	align-self: center;

	font-size: 0;
	line-height: 0;
}

.google-map {
	border: 0;
}

/* --- location section end --- */
/* ----- footer ----- */
.main-footer {
	width: 100%;
	padding: 0;
	margin: 0;

	background-color: #39312f;
}

.footer-social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	width: 122px;
	padding-top: 92px;
	margin: 0 auto;
	margin-bottom: 35px;
}

.footer-social-item {
	width: 26px;
	height: 26px;
	padding: 0;
	margin: 0;
}

svg:hover,
a.social-button-active svg {
	fill: #f5d76e;
}

svg:active {
	fill: #f4ca38;
}

.footer-social-item:not(:last-child) {
	margin-right: 29px;
}

.footer-address {
	padding: 0;
	padding-bottom: 138px;
	margin: 0 auto;

	font-family: "Lato", "Arial", sans-serif;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #ffffff;
	text-align: center;
}

/* ----- footer end ----- */
/* ----- document end ----- */
